body {
	font-family: Helvetica;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(255, 238, 0) , rgb(255, 0, 0)); /* Standard syntax */
}

h1 {
    font:600 3.5em Helvetica;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    color: antiquewhite;
}

h3 {
	font-family: 900 1em Helvetica;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    color: antiquewhite;

}

h2 {
    color: antiquewhite;
}

.random {
	background-color:antiquewhite;
	border:7px solid antiquewhite;
	display:inline-block;
	cursor:pointer;
	color:#4d484d;
	font-family: 15px Helvetica;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;
    }
.random:hover {
        background-color:#ffffff;
        border:7px solid #ffffff;
    }
.random:active {
        background-color:#ffffff;
        border:7px solid #ffffff;
    }

    
